
.text{
    color: #d7dbdd;
}



/* .flex{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.test{
  color: #d7dbdd;
  border: 1px solid #d7dbdd;  
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 99.9%;
  flex-direction: row;
  justify-content:flex-end;
  align-items: stretch;
  height:50%;
}
.main-container{
  color: #d7dbdd;
  border: 1px solid #d7dbdd;  
  display: flex;
  justify-content: flex-start;
  height: 40%;
  flex-wrap: nowrap;
  width: 99.9%;
  overflow: hidden;
  flex-direction: column;
  justify-content:flex-end;
  align-items: stretch;
}
.city-container{
  color: #d7dbdd;
  border: 1px solid #d7dbdd;  
  height: 100%;
  flex-basis : 50%;
  margin: 2px;
}
.icon-container{
  color: #d7dbdd;
  border: 1px solid #d7dbdd;  
  height:100%;
  flex-basis : 50%;
  margin: 2px;
}
.current-forecast-container{
  color: #d7dbdd;
  border: 1px solid #d7dbdd;  
  flex-basis : 100%;
  height: 50%;
  margin: 2px;
}
#nested-inner-container {
  
  display: flex;
  justify-content: center;
  
  flex-wrap: nowrap;
}
section {
  background: red;
  flex: 1 1 calc(25% - 80px);
  margin: 10px;
  border: 1px solid #d7dbdd;
  border-radius: 4px;
  margin: 10px;
}
.cardDescription{
  color: #d7dbdd;
  border: 1px solid #d7dbdd;
  border-radius: 4px;
}
.iconWeekend{
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 1500px) {
  section { flex-basis: calc(33.33% - 60px); }
}

@media screen and (max-width: 1250px) {
  section { flex-basis: calc(50% - 40px); }
}

@media screen and (max-width: 1000px) {
  section { flex-basis: calc(100% - 20px); }
}


